.company {
  background-color: #2F343A;;
  padding: 120px 0;
  &__text {
    @include font($color-white, 16px, normal, $font-roboto);
    font-style: normal;
    line-height: 28px;
    max-width: 445px;
    font-style: normal;
    margin-top: 30px;
  }
  &__column {
    display: flex;
    
  }
  &__column1{
    display: flex;
  }
 
  &__back {
    background-color: aliceblue;
    border: 01px solid $color-brown;
    padding: 12px 44px;
   
  }
  &__back1{
   width:188px;
   
    
   }
  &__img{
    width:100%;
   
    
  }
  &__main-column{
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__number {
    @include font($color-darkblue, 64px, bold, $font-roboto);
    font-style: normal;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__word {
    @include font(#000000, 18px, normal, $font-roboto);
    font-style: normal;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
  }
&__words{
    @include font(#000000, 12px, normal, $font-roboto);
    font-style: normal;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
   
}

}
