.footer {
  background-color: $color-brown;
  padding: 16px 0 16px;
  &__column {
    display: flex;
    flex-direction: column;
    
    justify-content: start;
  }
  &__main-row{
      display: flex;
      align-items: center;
  }
  &__address {
    @include font($color-white, 14px, normal, $font-roboto);
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    opacity: 0.8;
    margin-right: 89px;
  }
  &__mail{
    @include font(black, 14px, normal, $font-roboto);  
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    opacity: 0.8;
    margin-top:10px;
  }
  &__number{
    @include font($color-white, 14px, normal, $font-roboto);
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    margin-right: 150px;
    
  }
  &__number2{
      margin-top:10px;
  }
  &__from{
    @include font(black, 14px, normal, $font-roboto);  
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-decoration: underline;
    margin-top: 30px;
  }
  &__svg{
      margin-right: 40px;
  }
}
