.header {
  &__top {
    background-color: $color-brown;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
  }

  &__list {
    @include font($color-white, 12px, normal, $font-roboto);
    padding: 16px 16px;
    &:hover {
      background-color: rgb(222, 224, 226);
      color: $color-lightblack;
      transition: 0.5s;
    }
  }
  &__list2{
    @include font($color-white, 12px, normal, $font-roboto);
  }

  &__bottom {
    background-color: $color-darkblue;
   
  }
  &__bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom-list {
    @include font($color-white, 14px, normal, $font-roboto);
    text-transform: uppercase;
   
    padding: 32px 25px;
    &:hover{
      background-color: rgb(222, 224, 226);
      color: $color-lightblack;
      transition: 0.5s;
    }
  }
  &__bottom-menu {
    display: flex;
    align-items: center;
  }
  &__bottom-list1 {
    @include font($color-white, 12px, normal, $font-roboto);
   
    padding: 32px 25px;
    &:hover{
      background-color: aliceblue;
      color: $color-lightblack;
      transition: 0.5s;
    }
  }
  &__bottom-left {
    display: flex;
    align-items: center;
  }
  &__line {
    margin-left: 35px;
  }
}
