.header {
  &__top {
    background-color: $color-brown;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
  }

  &__list {
    @include font($color-white, 12px, normal, $font-roboto);
    padding: 16px 16px;
    &:hover {
      background-color: rgb(189, 186, 186);

      color: $color-lightblack;
      transition: 0.5s;
    }
  }

  &__bottom {
    background-color: $color-darkblue;
    padding: 32px 0 32px;
  }
  &__bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom-list {
    @include font($color-white, 14px, normal, $font-roboto);
    text-transform: uppercase;
    margin-right: 30px;
  }
  &__bottom-menu {
    display: flex;
    align-items: center;
  }
  &__bottom-list {
    @include font($color-white, 12px, normal, $font-roboto);
    margin-left: 15px;
  }
  &__bottom-left {
    display: flex;
    align-items: center;
  }
  &__line {
    margin-left: 35px;
  }
}
