.services{
    background-color:$color-lightblack;
    background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 200px;
  
  &__line {
    background-color: $color-brown;
    width: 90px;
    height: 6px;
    margin-bottom: 40px;
  }
  &__titlet {
    @include font($color-white, 40px, bold, $font-roboto);
    font-style: normal;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 445px;
    padding-bottom: 60px;
  }

    &__blok{
          background-color:$color-darkblue;
          background-color: hovre;
          width: 298px;
          height: 188px;
          margin: 1px;
    }
    &__blok:hover{
        background-color: $color-brown;
    }
    &__title {
        @include font($color-white, 18px, bold, $font-roboto);
        font-style: normal;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &__svg{
        display: flex;
        color: $color-white;
        flex-direction: column;
        justify-content: center;
        padding: 55px 123px 23px 123px;
        &:hover{
          background-color: aliceblue;
          border-radius: 100%;
          fill:$color-lightblack;

        }
    }
    
}