@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__top {
  background-color: #C8A35F;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  padding: 16px 16px;
}

.header__list:hover {
  background-color: #dee0e2;
  color: #2F343A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__list2 {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
}

.header__bottom {
  background-color: #2F343A;
}

.header__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom-list {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  text-transform: uppercase;
  padding: 32px 25px;
}

.header__bottom-list:hover {
  background-color: #dee0e2;
  color: #2F343A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-list1 {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  padding: 32px 25px;
}

.header__bottom-list1:hover {
  background-color: aliceblue;
  color: #2F343A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__line {
  margin-left: 35px;
}

.europe {
  padding: 120px 0 120px;
  background-color: #2F343A;
}

.europe__line {
  background-color: #C8A35F;
  width: 90px;
  height: 6px;
  margin-bottom: 40px;
}

.europe__title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 445px;
}

.europe__text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  line-height: 28px;
  max-width: 420px;
  font-style: normal;
}

.europe__button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto , sans-serif";
  background: #C8A35F;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 18px 48px;
  outline: none;
  border-style: none;
  margin-top: 50px;
}

.europe__button:hover {
  background-color: transparent;
  border: 2px solid #C8A35F;
  color: #C8A35F;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.europe__slides {
  margin-top: 254px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.europe__slides1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.europe__space {
  margin-right: 31px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto , sans-serif";
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.europe__space1 {
  margin-left: 31px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto , sans-serif";
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.company {
  background-color: #2F343A;
  padding: 120px 0;
}

.company__text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  line-height: 28px;
  max-width: 445px;
  font-style: normal;
  margin-top: 30px;
}

.company__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company__column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company__back {
  background-color: aliceblue;
  border: 1px solid #C8A35F;
  padding: 12px 44px;
}

.company__back1 {
  width: 188px;
}

.company__main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__number {
  color: #2F343A;
  font-size: 64px;
  font-weight: bold;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.company__word {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
}

.company__words {
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
}

.footer {
  background-color: #C8A35F;
  padding: 16px 0 16px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__address {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  opacity: 0.8;
  margin-right: 89px;
}

.footer__mail {
  color: black;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  opacity: 0.8;
  margin-top: 10px;
}

.footer__number {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  margin-right: 150px;
}

.footer__number2 {
  margin-top: 10px;
}

.footer__from {
  color: black;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto , sans-serif";
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  text-decoration: underline;
  margin-top: 30px;
}

.footer__svg {
  margin-right: 40px;
}

.map {
  width: 100%;
  background-size: cover;
}
